template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31

Parameters:
  FinnhubDataStreamName:
    Type: String
    Default: "finnhub-quote-data"
  FinnhubDataRepairStreamName:
    Type: String
    Default: "finnhub-repair-data"
  FinnhubDataFailureStreamName:
    Type: String
    Default: "finnhub-failure-data"
  StockDataPrefix:
    Type: String
    Default: "stockdata/"
  StockDataRepairPrefix:
    Type: String
    Default: "stockdata/repair/"
  StockDataFailurePrefix:
    Type: String
    Default: "stockdata/failure/"
  DatabaseName:
    Type: String
    Default: vacation-analyitcs
  TableStockName:
    Type: String
    Default: stock-quote-landing-raw

Resources:
  IAMRoleProject:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
                - firehose.amazonaws.com
                - states.amazonaws.com
                - events.amazonaws.com
            Action:
              - 'sts:AssumeRole'
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AdministratorAccess
      Tags:
        - Key: "costcenter"
          Value: "infrastructure"

  LayerLambdaHelper:
    Type: AWS::Serverless::LayerVersion
    Properties:
      ContentUri: layer_helper/
      CompatibleRuntimes:
        - python3.7
    Metadata:
      BuildMethod: python3.7

  LambdaRequestCurrentStockData:
    Type: AWS::Serverless::Function
    Properties:
      Role: !GetAtt IAMRoleProject.Arn
      CodeUri: fct_request_current_stock_data/
      Handler: app.lambda_handler
      Layers:
        - !Ref LayerLambdaHelper
      Runtime: python3.7
      Timeout: 60
      Environment:
        Variables:
          requeststockdataqueue: !Ref QueueStockDataRequest
      Tags:
        costcenter: "compute-stock-data"

  LambdaGetCurrentStockData:
    Type: AWS::Serverless::Function
    Properties:
      Role: !GetAtt IAMRoleProject.Arn
      CodeUri: fct_get_current_stock_data/
      Handler: app.lambda_handler
      Layers:
        - !Ref LayerLambdaHelper
      Runtime: python3.7
      Timeout: 60
      Environment:
        Variables:
          finnhubdatastream: !Ref FinnhubDataStreamName
          # finnhubapitoken: '{{resolve:secretsmanager:dev/token/finnhub}}'
          # Note: Can't resolve a dynamic reference when testing in
          # PyCharm via AWS Toolkit
      Tags:
        costcenter: "compute-stock-data"

  LambdaQueryStockData:
      Type: AWS::Serverless::Function
      Properties:
        Role: !GetAtt IAMRoleProject.Arn
        CodeUri: fct_query_stock_data/
        Handler: app.lambda_handler
        Runtime: python3.7
        Timeout: 60
        Environment:
          Variables:
            datalake_database: !Ref DatabaseName
            datalake_table_stock: !Ref TableStockName
        Tags:
          costcenter: "compute-stock-data"

  LambdaFindMissingMinutes:
    Type: AWS::Serverless::Function
    Properties:
      Role: !GetAtt IAMRoleProject.Arn
      CodeUri: fct_find_missing_minutes/
      Handler: app.lambda_handler
      Layers:
        - !Ref LayerLambdaHelper
      Runtime: python3.7
      Timeout: 60
      Environment:
        Variables:
          athena_database: !Ref DatabaseName
      Tags:
        costcenter: "compute-repair-step-function"

  LambdaDecideDataRepair:
      Type: AWS::Serverless::Function
      Properties:
        Role: !GetAtt IAMRoleProject.Arn
        CodeUri: fct_decide_data_repair/
        Handler: app.lambda_handler
        Runtime: python3.7
        Layers:
          - !Ref LayerLambdaHelper
        Timeout: 60
        Tags:
          costcenter: "compute-repair-data"

  LambdaPerformDataRepair:
      Type: AWS::Serverless::Function
      Properties:
        Role: !GetAtt IAMRoleProject.Arn
        CodeUri: fct_repair_past_stock_data/
        Handler: app.lambda_handler
        Runtime: python3.7
        Layers:
          - !Ref LayerLambdaHelper
        Timeout: 300
        MemorySize: 512
        Environment:
          Variables:
            repairstream: !Ref FinnhubDataRepairStreamName
        Tags:
          costcenter: "compute-repair-data"

  LambdaReportDataFailure:
      Type: AWS::Serverless::Function
      Properties:
        Role: !GetAtt IAMRoleProject.Arn
        CodeUri: fct_data_failure/
        Handler: app.lambda_handler
        Runtime: python3.7
        Layers:
          - !Ref LayerLambdaHelper
        Timeout: 300
        MemorySize: 512
        Environment:
          Variables:
            failurestream: !Ref FinnhubDataFailureStreamName
        Tags:
          costcenter: "compute-repair-data"

  DataStreamStockQuote:
    Type: AWS::Kinesis::Stream
    Properties:
      Name: !Ref FinnhubDataStreamName
      ShardCount: 1
      Tags:
        - Key: "costcenter"
          Value: "infrastructure"

  DataLakeStorage:
    Type: AWS::S3::Bucket
    Properties:
      Tags:
        - Key: "costcenter"
          Value: "infrastructure"

  DataDeliveryStockQuote:
    Type: AWS::KinesisFirehose::DeliveryStream
    Properties:
      DeliveryStreamType: "KinesisStreamAsSource"
      KinesisStreamSourceConfiguration:
        KinesisStreamARN: !GetAtt DataStreamStockQuote.Arn
        RoleARN: !GetAtt IAMRoleProject.Arn
      ExtendedS3DestinationConfiguration:
        BucketARN: !GetAtt DataLakeStorage.Arn
        BufferingHints:
          IntervalInSeconds: 60
        CompressionFormat: GZIP
        RoleARN: !GetAtt IAMRoleProject.Arn
        Prefix: !Ref StockDataPrefix

  DataStreamRepairStockQuote:
    Type: AWS::Kinesis::Stream
    Properties:
      Name: !Ref FinnhubDataRepairStreamName
      ShardCount: 1
      Tags:
        - Key: "costcenter"
          Value: "repair"

  DataDeliveryRepairStockQuote:
    Type: AWS::KinesisFirehose::DeliveryStream
    Properties:
      DeliveryStreamType: "KinesisStreamAsSource"
      KinesisStreamSourceConfiguration:
        KinesisStreamARN: !GetAtt DataStreamRepairStockQuote.Arn
        RoleARN: !GetAtt IAMRoleProject.Arn
      ExtendedS3DestinationConfiguration:
        BucketARN: !GetAtt DataLakeStorage.Arn
        BufferingHints:
          IntervalInSeconds: 60
        CompressionFormat: GZIP
        RoleARN: !GetAtt IAMRoleProject.Arn
        Prefix: !Ref StockDataRepairPrefix

  DataStreamFailureStockQuote:
    Type: AWS::Kinesis::Stream
    Properties:
      Name: !Ref FinnhubDataFailureStreamName
      ShardCount: 1
      Tags:
        - Key: "costcenter"
          Value: "repair"

  DataDeliveryFailureStockQuote:
    Type: AWS::KinesisFirehose::DeliveryStream
    Properties:
      DeliveryStreamType: "KinesisStreamAsSource"
      KinesisStreamSourceConfiguration:
        KinesisStreamARN: !GetAtt DataStreamFailureStockQuote.Arn
        RoleARN: !GetAtt IAMRoleProject.Arn
      ExtendedS3DestinationConfiguration:
        BucketARN: !GetAtt DataLakeStorage.Arn
        BufferingHints:
          IntervalInSeconds: 60
        CompressionFormat: GZIP
        RoleARN: !GetAtt IAMRoleProject.Arn
        Prefix: !Ref StockDataFailurePrefix

  QueueStockDataRequest:
    Type: AWS::SQS::Queue
    Properties:
      VisibilityTimeout: 60
      Tags:
        - Key: "costcenter"
          Value: "infrastructure"

  TriggerCurrentStockDataRequest:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      BatchSize: 1
      Enabled: true
      EventSourceArn: !GetAtt QueueStockDataRequest.Arn
      FunctionName: !Ref LambdaGetCurrentStockData

  EventTriggerRequestStockData:
    Type: AWS::Events::Rule
    Properties:
      ScheduleExpression: "cron(0/1 * * * ? *)"
      State: "ENABLED"
      Targets:
        - Arn: !GetAtt LambdaRequestCurrentStockData.Arn
          Id: "LambdaRequestCurrentStockData"

  PermissionForEventsToInvokeLambda:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref LambdaRequestCurrentStockData
      Action: "lambda:InvokeFunction"
      Principal: "events.amazonaws.com"
      SourceArn: !GetAtt EventTriggerRequestStockData.Arn

  DatabaseVacationAnalytics:
    Type: AWS::Glue::Database
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseInput:
        Name: !Ref DatabaseName

  TableStokeQuoteLandingRaw:
    Type: AWS::Glue::Table
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseName: !Ref DatabaseVacationAnalytics
      TableInput:
        Name: !Ref TableStockName
        TableType: "EXTERNAL_TABLE"
        StorageDescriptor:
          InputFormat: "org.apache.hadoop.mapred.TextInputFormat"
          OutputFormat: "org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat"
          SerdeInfo:
            SerializationLibrary: "org.openx.data.jsonserde.JsonSerDe"
          Location:
            !Sub "s3://${DataLakeStorage}/${StockDataPrefix}"
          Columns:
          - Name: symbol
            Type: string
          - Name: t
            Type: string
          - Name: capture_time
            Type: string
          - Name: data_state
            Type: string

  DataTaskWithHealthCheck:
    Type: AWS::Serverless::StateMachine
    Properties:
      Definition:
        StartAt: CheckDataHealth
        States:
          CheckDataHealth:
            Type: Task
            Resource: !GetAtt LambdaFindMissingMinutes.Arn
            Next: DecideDataHealth
          DecideDataHealth:
            Type: Choice
            Choices:
              - Variable: $.health_pass
                BooleanEquals: false
                Next: DecideAttemptDataRepair
              - Variable: $.health_pass
                BooleanEquals: true
                Next: ExecuteDataTask
          DecideAttemptDataRepair:
            Type: Task
            Resource: !GetAtt LambdaDecideDataRepair.Arn
            ResultPath: $.repair_settings
            Next: AttemptDataRepair
          AttemptDataRepair:
            Type: Choice
            Choices:
              - Variable: $.repair_settings.attempt_repair
                BooleanEquals: false
                Next: RunDataFailure
              - Variable: $.repair_settings.attempt_repair
                BooleanEquals: true
                Next: RunDataRepair
          RunDataFailure:
            Type: Task
            Resource: !GetAtt LambdaReportDataFailure.Arn
            End: true
          RunDataRepair:
            Type: Task
            Resource: !GetAtt LambdaPerformDataRepair.Arn
            ResultPath: $.repair_status
            Next: WaitForDataStream
          WaitForDataStream:
            Type: Wait
            Seconds: 90
            Next: CheckDataHealth
          ExecuteDataTask:
            Type: Pass
            Result: foo
            End: true
      Role: !GetAtt IAMRoleProject.Arn

  EventTriggerRepairStockData:
    Type: AWS::Events::Rule
    Properties:
      ScheduleExpression: "cron(5 * * * ? *)"
      State: "ENABLED"
      Targets:
        - Arn: !Ref DataTaskWithHealthCheck
          Id: !GetAtt DataTaskWithHealthCheck.Name
          RoleArn: !GetAtt IAMRoleProject.Arn

Outputs:
  LambdaGetCurrentStockDataAPN:
    Value: !GetAtt LambdaGetCurrentStockData.Arn
  DataStreamAPN:
    Value: !GetAtt DataStreamStockQuote.Arn